{% extends 'base.html' %}
{% block style %}
    {{ block.super }}
    <style>
        .hidden {
            display: none;
            position: absolute;
        }

        .snippet:hover .hidden {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for snippet in snippets %}
                        <tr>
                            <td scope="row">{{ snippet.id }}</td>
                            <td class="snippet">
                                <i class="{{ snippet.icon }}"></i>
                                <a href="{% url 'snippet-detail' snippet.id %}">{{ snippet.name }}</a>
                                <div class="hidden">
                                    <a href="{% url 'snippet-delete' snippet.id %}">
                                        <i style="color: #965656" class="fa-solid fa-trash"></i>
                                    </a>
                                    <a href="{% url 'snippet-edit' snippet.id %}">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                            <td>{{ snippet.creation_date }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <i class="text-muted">Всего сниппетов: 2</i></div>
            </div>
        </div>
    </div>
{% endblock %}
